.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.contact-form{
    background-color: rgb(12, 12, 12);
    margin-top: 10em;
    width: 100%;
    height: 34em;
}

.contact-text{
    background-color: rgb(12, 12, 12);
    margin-top: 22em;
    margin-left: 6em;
}

.contact-text h1{
    font-size: 4.8em;
    color: white;
}

.contact-text p{
    font-size: 1.6em;
}

form{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-left: 3em;
}

input, textarea {
    background-color: rgb(12, 12, 12);
    width: 47em;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 1em;
    color: white;
    padding: 1em;
}

input {
    height: 6em;
}

textarea {
    height: 17em;
}

input::placeholder, textarea::placeholder {
    color: gray;
    opacity: 0.7;
    font-size: 1.9em;
    padding: 1em;
}

button{
    background-color: rgb(225, 226, 228);
    width: 14em;
    height: 5em;
    border-radius: 1em;
    cursor: pointer;
}

button p{
    color: rgb(12, 12, 12);
    font-size: 1.2em;
    font-weight: 700;
}

.flex-icone{
    display: flex;
    gap: 16em;
}

.icone{
    font-size: 2.3em;
    margin-top: 0.4em;
    display: flex;
    gap: 0.8em;
}

/* Mobile devices ke liye ensure karo ke font bada ho */
@media screen and (max-width: 768px) {
    input, textarea {
        font-size: 2em !important;
    }
}
